.create-todo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 24px;
    right: 24px;

    height: 64px;
    width: 64px;
    border: none;

    font-size: 50px;
    font-weight: bold;

    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border-radius: 50%;
    cursor: pointer;
    color: #FAFAFA;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
}

.create-todo-button:hover {
    transform: rotate(224deg);
}

.create-todo-button:active {
    transform: rotate(-100deg);
}